<!DOCTYPE html>
<html>
<head>
    <title>{{ anime.title }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="anime-detail">
    <a href="/anime/" class="logout">← Back</a>

    <h1>{{ anime.title }}</h1>
    <img src="{{ anime.images.jpg.large_image_url }}" alt="{{ anime.title }}">
    <form method="post" action="/add/">
      {% csrf_token %}
      <input type="hidden" name="mal_id" value="{{ a.mal_id }}">
      <input type="hidden" name="title" value="{{ a.title }}">
      <input type="hidden" name="image" value="{{ a.images.jpg.image_url }}">
      <button>Add</button>
    </form>
    <p>{{ anime.synopsis }}</p>
</div>

</body>
</html>
